# Auto detect text files and perform LF normalization
* text=auto
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>쇼핑몰 만들기</title>

    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Arial'
        }
        .item-img {
            width: 500px;
            height: 300px;

            background-image: url("https://theninemall.com/web/product/big/202110/ee9093d40e70eec2881a9f5d4ea67ada.jpg");
            background-position: center;
            background-size: cover;
        }

        .price {
            font-size: 20px;
        }

        .item-desc {
            width: 500px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .item-order {
            width: 500px;
        }

        .btn-order {
            margin: auto;
            width: 100px;

            display: block;
        }
        .wrap {
            width: 500px;
            margin: auto;
        }
    </style>

    
</head>

<body>
<div class="wrap">
    <div class="item-img"></div>
    <div class="item-desc">
        <h1> 스마일 그립톡 <span class="price">가격:5,000원/개</span></h1>
    
        <p>그립톡을 이용해 보세요! 편하답니다.</p>
    </div>
     
    <div class="item order">
         <h1> 주문하기 </h1>
         <p>주문자 성함: <input type = "text" ></p>
         <p>수량: <select class="custom-select" id="inputGroupSelect01"><option selected></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select></p>

         <p>주소:        <input type = "text" ></p>
         <p>전화번호:    <input type = "text" ></p>
    
        
       
        <button type="button" onclick="alert('주문이 완료되었습니다.')" class="btn btn-primary btn-order">주문하기</button>
    </div>
</div>
</body>

</html>